
.aboutus {
  margin: 10% auto;
  background-image: url('../images/fingerprint.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  color: #e3e4de;
  padding-top:20px;
}
.aboutus span {
  color: #f8b21b;

}
