.navbar-nav>li {
  float: right;
}
body:not('navbar-header'){
  direction: rtl;
}
h1 , h2 , h3 , h4 {
  letter-spacing: 0px;
}
p {
  font-size: 18px;
}
footer p {
  font-size: 14px;
}
.address {
  float: left;
}
/*Start Media query  */
@media (max-width: 576px) {
  .navbar-nav>li {
    float: none;
  }
}
@media(max-width:767px){
  .navbar-nav>li {
    float: none;
  }
}
@media(min-width:768px) and (max-width:991px){

  

}
@media(min-width:992px){

}
@media(min-width:1200px){}
